# 编译产物 target
target/
**/target/

# 发布产物
release/*.deb
release/*.tar.xz
release/del_arm64
release/del_x86_64

# 配置与环境文件
.env
config.json

# IDE/工具目录
.idea/
.codewhale/
.vscode/
.deepseek/
# sqlx 离线缓存
.sqlx/

# SQL脚本
*.sql

